*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#form1
{
    
    display: flex;
    border: 1px solid black;
    width: 40%;
    gap: 20px;
}
   